@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
:root{
    /* colours */
    --red-primary: rgba(161, 30, 59, 1);
    --grey-primary: rgba(50, 65, 75, 1);
    --grey-secondary: rgba(84, 89, 95, 1);
    --lightgrey-primary:rgba(245, 245, 245, 1);
    --blue-primary: rgba(17, 102, 189, 1);
    --lightblue-primary: rgba(110, 193, 228, 1);

    /* fonts */
    --font-family-primary: 'Helvetica', sans-serif;
    --font-headings-primary: 800 23px var(--font-family-primary);
    --font-headings-secondary: 300 43px var(--font-family-primary);
    --font-text-primary: 400 16px var(--font-family-primary);

    /* general */
    --max-width-div: 1140px;

    /* research styles */
    --search-box-max-width: 600px;
    --search-box-font-size: 18px;
    --focus-color: rgb(74,144,226);

    --gap-between-papers: 16px;
    --paper-title-font-size: 20px; 
    --paper-title-margin-bottom: 15px; 
    --paper-detail-font-size: 13px;
    --paper-detail-margin-bottom: 10px;
    --paper-detail-line-height: 1.3;

    /* teams */
    --team-name-margin-bottom: 16px;

    --team-description-margin-bottom: 32px;

    --gap-between-members: 30px;

    --member-image-max-height: 300px;
    --member-image-max-width: 250px;
    --member-image-margin-bottom: 10px;

    --member-name-font-size: 20px;
    --member-name-margin-bottom: 5px; 

    --member-title-font-size: 16px; 
    --member-title-margin-bottom: 5px;

    /* email icon */
    --email-icon-scale: 1;
    --email-icon-color: white;
    --email-icon-hover-color: rgb(167, 229, 255);
}


button {
    padding: 12px 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s ease, transform 0.15s ease;
}

/* === MAIL BUTTON, ICON, LINK === */

/* don't change name without checking js*/
.email-wrapper,
.email-link {
    background-color: transparent !important;
    margin: 0 !important;
    border: 0 !important;
    display: inline-block;
}

/* don't change name without checking js*/
.email-wrapper {
    padding: 5px 0 0 0;
    font-size: 0;
    overflow: hidden;
}

/* don't change name without checking js*/
.email-link {
    cursor: pointer;
    text-decoration: none;
    text-transform: lowercase;
    transition-duration: 0.3s;
    height: 24px !important;
    width: 24px !important;
}


/* === RESEARCH === */

/* don't change name without checking js*/
#search-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: var(--search-box-max-width);
    margin: 0 auto 40px auto
  }

/* Wrapper for layout spacing */
#year-filter-wrapper {
    position: relative;
}

/* Dropdown button styling */
/* don't change name without checking js*/
#year-filter-button{
    min-width: 160px;
}

/* don't change name without checking js*/
#year-filter-button:focus,
#year-filter-button:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    outline: none;
    color: var(--grey-primary) !important;
    background-color: white !important;
}

/* don't change name without checking js*/
#year-filter-button[aria-expanded="true"]{
    color: rgba(0, 0, 0, 0.7) !important;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15) !important;
}


/* Arrow icon */
/* Initial state arrow points right */
#year-filter-button .arrow {
    margin-left: 8px;
    transform: rotate(-90deg); /* Right-facing */
    transition: transform 0.3s ease;
}

/* Expanded state arrow points down */
#year-filter-button[aria-expanded="true"] .arrow {
    transform: rotate(0deg);
}

/* Dropdown list styling */
/* don't change name without checking js*/
#year-filter-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 0;
    border: none;
    border-radius: 10px;
    margin-top: 6px;
    background-color: white;
    list-style: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
}

#year-filter-list.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Dropdown items */
#year-filter-list li {
    padding: 10px 16px;
    cursor: pointer;
    transition: background 0.2s ease;
}

#year-filter-list li:hover,
#year-filter-list li:focus {
    background-color: var(--lightgrey-primary);
}

#year-filter-list li[aria-selected="true"] {
    background-color: var(--red-primary);
    color: var(--lightgrey-primary);
}

/* don't change name without checking js*/
#search-box {
    width: 100%;
    max-width: var(--search-box-max-width) !important;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15) !important;
    background: white;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#search-box:focus {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) !important;
}
#search-box:focus::placeholder {
    opacity: 0.4;
    transition: opacity 0.2s ease;
}

#download-button {
    padding: 5px;
    background: white !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease, transform 0.15s ease;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#download-button .material-symbols-outlined {
    font-size: 24px;
    color: var(--grey-primary);
    transition: color 0.2s ease, transform 0.2s ease;
}

#download-button:hover {
    transform: translateY(-2px); 
}

#download-button:hover .material-symbols-outlined {
    color: var(--lightblue-primary);
    transform: scale(1.1);
}


#download-menu {
    display: none; 
    position: absolute;
    z-index: 1000; 
    margin-top: 10px;
    background: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 180px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#download-json,
#download-csv {
    width: 100%;
    padding: 10px 12px;
    border: none;
    background: white;
    text-align: left;
    cursor: pointer;
    border-radius: 4px; 
    transition: background-color 0.2s ease, color 0.2s ease;
}


#download-json:hover,
#download-json:focus,
#download-csv:hover,
#download-csv:focus {
    background-color: var(--lightgrey-primary) !important;
    color: var(--grey-primary) !important;
    outline: none;
}

#papers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 32%)) !important;
    gap: var(--gap-between-papers);
    justify-content: center;
    justify-items: flex-start;
    align-self: center;
}

/* don't change name without checking js*/
.paper-card {
    position: relative;
    background: #fff;
    border-radius: 15px;
    padding: 25px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08) !important;
    transition: 
        transform 0.4s ease, 
        opacity 0.3s ease,
        box-shadow 0.4s ease;
    cursor: pointer;
    text-align: center;
}

.paper-card:hover {
    will-change: transform;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
    transform: translateY(-3px);
    position: relative;
}


/* don't change name without checking js*/
.paper-title {
    font: var(--font-headings-primary);
    font-weight: 600;
    font-size: var(--paper-title-font-size) !important;
    line-height: 1.2;
    margin-bottom: var(--paper-title-margin-bottom) !important;
    color: var(--red-primary);
}

/* don't change name without checking js*/
.paper-detail {
    font-size: var(--paper-detail-font-size) !important;
    line-height: var(--paper-detail-line-height) !important;
    margin-bottom: var(--paper-detail-margin-bottom) !important;
}

/* don't change name without checking js*/
.paper-detail.authors {
    font-style: normal;
}

/* don't change name without checking js*/
.paper-detail.journal-info {
    font-style: italic;
}

/* don't change name without checking js*/
.paper-detail.publisher {
    font-style: normal;
}

/* don't change name without checking js*/
.paper-detail:last-child {
    margin-bottom: 0;
}


/* === TEAMS SITE === */

/* don't change name without checking js*/
#teams {
    padding: 20px;
    background-color: var(--red-primary);
    display: flex;
    flex-direction: column;
    gap: 200px;
}

/* don't change name without checking js*/
.team {
    max-width: calc(var(--member-image-max-width) * 4 + var(--gap-between-members) * 3);
    display: flex;
    flex-direction: column;
    align-self: center;
    color: white;
}

/* don't change name without checking js*/
.team *{
    color: white;
}

/* don't change name without checking js*/
.team-name {
    font: var(--font-headings-secondary);
    margin-bottom: var(--team-name-margin-bottom);
    margin-top: 0;

}

/* don't change name without checking js*/
.team-description {
    margin-bottom: var(--team-description-margin-bottom);
    margin-top: 0;
}

/* don't change name without checking js*/
.team-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 250px)) !important;
    gap: var(--gap-between-members);
    max-width: 100%;
}

/* don't change name without checking js*/
.team-member {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    text-align: left;
    background: rgba(0, 0, 0, 0);
}

/* don't change name without checking js*/
.member-image {
    max-width: 250;
    max-height: 300;
    flex: auto;
    margin-bottom: var(--member-image-margin-bottom);
    margin-top: 0;
}

/* don't change name without checking js*/
.member-name {
    font-weight: 600;
    font-size: var(--member-name-font-size) !important;
    line-height: 1.2;
    margin-bottom: var(--member-name-margin-bottom)!important;
    margin-top: 0;
    text-transform: uppercase;
}

/* don't change name without checking js*/
.member-title {
    font-weight: 400;
    font-size: var(--member-title-font-size) !important;
    line-height: 1.2;
    margin-bottom: var(--member-title-margin-bottom) !important;
    margin-top: 0;
    text-transform: uppercase;
}

/* don't change name without checking js*/
.material-symbols-outlined {
	padding: 0;
    font-variation-settings:
    'FILL' 0,
    'wght' calc(400 * var(--email-icon-scale)),
    'GRAD' 0,
    'opsz' calc(24 * var(--email-icon-scale));
    font-size: calc(24px * var(--email-icon-scale));
    cursor: pointer;
    color: var(--email-icon-color);
    transition: 
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s;
}

/* don't change name without checking js*/
.material-symbols-outlined:hover {
    transform: scale(1.1);
    color: var(--email-icon-hover-color);
}

/* === JOBS SITE PDF BOX === */
.jobbox {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    padding: 30px 35px;
    margin: 40px auto;
    max-width: 900px;
}

.jobbox h1{
    font-weight: 600;
    text-transform: none;
}

.job-cta {
    display: flex;
    align-items: center;
}

.job-cta a {
    display: inline;
    color: var(--blue-primary);
}
.job-cta a:hover {
    color: var(--lightblue-primary);
}


/* don't change name without checking js*/
.pdfbox {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    background: white;
}

/* don't change name without checking js*/
.pdf-wrapper {
    position: relative;
    padding-top: 70%; 
    height: 0;
    overflow: hidden;
    background: white;
}

/* don't change name without checking js*/
.pdf-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}